# Nudging the scheduler to re-initialize

name: UCR Class Availability Checker

on:
  workflow_dispatch:
  schedule:
    # This cron syntax runs the job every 5 minutes.
    # Note: GitHub may occasionally delay a scheduled run by a few minutes.
    - cron: '*/10 * * * *'
jobs:
  check-availability:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run class checker script
        env:
          PUSHOVER_USER_KEY: ${{ secrets.PUSHOVER_USER_KEY }}
          PUSHOVER_API_TOKEN: ${{ secrets.PUSHOVER_API_TOKEN }}
        run: python main.py
